<div class="pt-5 user-select-none ">
    <div class="card col-3 mx-auto p-0">
        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <div class="card-header text-center">
                <img src="assets/img/logo.svg" class="w-50 px-5" />
                <div class="font-weight-bold mt-2">
                    <div>CAKE</div>
                    <div class="text-secondary">backoffice login</div>
                </div>
            </div>
            <div class="card-body">
                <div *ngIf="alert" class="alert alert-danger my-2">
                    Attenzione: credenziali non valide
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" formControlName="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" />
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn w-100 btn-primary">
                    Accedi
                </button>
            </div>
        </form>

    </div>

</div>