<div class="container-fluid ">
    <div class=" user-select-none">
        <div style="font-size: 10rem" class="text-center font-weight-bold">
            CAKE
        </div>
        <div class="text-center">
            <img src="assets/img/logo.svg" class="w-25 px-5" />
            <p class="font-weight-bold mt-4" style="font-size: 1.5rem">
                Dolci promesse fresche di giornata<br> dal produttore al consumatore
            </p>
        </div>
    </div>




    <div class="mt-5">
        <app-product-list></app-product-list>
    </div>
</div>